@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  width: 100%;
  margin: 20px;
  color: rgb(37, 37, 37) ;
  font-family: 'Lato', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 
}


